
:root {
    --pc: #02005B;
    --sc: #333333;
    --wc: #ffffff;
}


body {
    font-family: 'Inter', sans-serif;
    color: var(--sc);
    font-size: 15px;
    position: relative;
    font-weight: 400;
    background: #EBEFFF;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

a {
    display: inline-block;
    color: var(--sc);
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

/*Custom css*/
.section-title h6 {
    color: var(--pc2);
    font-weight: 700;
}

.section-title h2 {
    font-size: 35px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 42px;
    color: var(--sc);
}

.section-title p {
    max-width: 728px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    margin: 0 auto;
    color: #444444;
}

.section-title h2.after::after {
    content: '';
    height: 3px;
    width: 90px;
    background: #02005B;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}

/*Custom css end */




/*ACCORDION CUSTOM*/
.mobile-logo img {
    width: 102px;
    padding: 5px 0;
    margin-left: 10px;
}

.mobile-logo i {
    font-size: 25px;
    float: right;
    margin: 10px 20px;
    color: var(--tc);
    cursor: pointer;
    padding: 5px;
}

.mobile-logo i:hover {
    color: var(--pc);
}

.custom.accordion-button {
    text-transform: capitalize;
    font-size: 15px;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
    color: var(--sc);
    font-weight: 500;
}

.custom.accordion-button:hover {
    color: var(--pc);
}

.custom.accordion-button:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    border-top: 1px solid #ccc;
    outline: none;
    border: none;

}

.custom.accordion-button:not(.collapsed) {
    color: var(--sc);
    background: var(--rc);
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
}

.custom.accordion-button:not(.collapsed)::after {
    background-image: none;
    content: "\f068";
    font-family: 'FontAwesome';
    -webkit-transform: rotate(0deg) !important;
    -ms-transform: rotate(0deg) !important;
    transform: rotate(0deg) !important;
}

.none.accordion-button:not(.collapsed)::after {
    content: none;
    -webkit-transform: rotate(0deg) !important;
    -ms-transform: rotate(0deg) !important;
    transform: rotate(0deg) !important;
}


.custom.accordion-button::after {
    background-image: none;
    content: "\f067";
    font-family: 'FontAwesome';
}

.none.accordion-button::after {
    content: none;
}

.custom.accordion-body {
    padding: 0 0px;
}

.custom.accordion-body ul {
    padding: 0;
    margin: 0;
}

.custom.accordion-body ul li {
    list-style: none;
    padding: 8px 0;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
}

.custom.accordion-body ul li a {
    text-decoration: none;
    font-size: 15px;
    text-transform: capitalize;
    color: var(--sc);
    font-weight: 500;
    display: inline-block;
    margin-left: 40px;
    
}

.custom.accordion-body ul li a i {
    font-size: 10px;
    margin-right: 5px;
}

.custom.accordion-body ul li:hover {
    color: var(--wc);
    background: var(--rc);
}

.custom.accordion-body ul li:hover a {
    color: var(--sc);
}

.custom.accordion-item a {
    text-decoration: none;
    width: 100%;

}

.accordion-button.custom i {
    padding: 0 10px;
}

/*custom css*/